<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nodejs | <%= title %></title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <h1 class="error-code">404</h1>
  <p>Something going wrong...</p>
</body>
</html>